.pageBox
{
    padding: 50px 50px;
    margin: 50px 0px;
    background-color: #c8757509;
}

.pageContent
{
    padding: 10px 40px;

}

.pageContent img 
{
    width: 80%;
}
.pageContent h4
{
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width:600px) {
    .pageBox
    {
        padding: 0px 10px;

    }
}